{% extends '@a/layout.twig' %}
{% block content %}
    {% do asset('js', [
        'modules/articles/node_modules/urlify/dist/urlify.js',
        'modules/articles/template/assets/js/bootstrap-tagsinput/bootstrap-tagsinput.js',
        'modules/articles/node_modules/typeahead.js/dist/typeahead.jquery.min.js'
    ]) %}
    {% do asset('css', [
        'modules/articles/template/assets/js/bootstrap-tagsinput/bootstrap-tagsinput.css',
        'modules/articles/template/assets/js/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.css'
    ]) %}
    <script>
        $('#tags').tagsinput({
            tagClass: 'badge bg-dark',
            typeaheadjs: {
                name: 'tags',
                displayKey: 'name',
                valueKey: 'name',
                source: function(query) {
                    let result =  $.get("{{ path('articles/find-tag') }}?search-value="+ query);
                    console.log(result)
                    // return $.map(list, function(tag) {
                    //     console.log(tag)
                    //     return { name: tag }
                    // });
                }
            }
        });
    </script>
    <script>
        let urlify = Urlify.create({
            spaces: "-",
            trim: true,
            toLower: true
        });

        $(document).ready(
            function () {
                $("#title").on('click keyup', function () {
                    $("#slug").val(urlify($(this).prop('value')));
                });
            }
        );
    </script>
    <script>
        $(document).ready(function(){
            $("#inputImage").on('click', function() {
                let width = 950;
                let height = 420;
                let params = [];
                params.push('height=' + height);
                params.push('width=' + width);
                params.push('left=' + (screen.width - width) / 2);
                params.push('top=' + ((screen.height - height) / 2) - 50 );

                window.open('{{ path('elfinder/popup') }}', 'FileBrowser', params.join(','));
            });
        });

        function processFile(file){
            $("#img").val(file.url);
        }
    </script>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Добавить статью</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ form.output|raw }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}

{% block scripts %}
    {% if contentEditor is iterable %}
        {% for editor in contentEditor %}
            {{ editor|raw }}
        {% endfor %}
    {% else %}
        {{ contentEditor|raw }}
    {% endif %}
{% endblock %}
