{% extends '@a/layout.twig' %}
{% block content %}

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Список статей</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {% if access2route('articles/admin/add') %}
                    <a class="btn btn-sm btn-primary mb-3"
                       href="{{ url('articles/admin/add') }}">Добавить новую статью</a>
                {% endif %}

                <div class="list-group">
                    {% for article in articles %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 font-weight-bold">
                                {{ article.title }}
                                <small>
                                    <a href="{{ path('article/view', {'slug': article.slug}) }}">смотреть</a>
                                    <a href="{{ path('articles/admin/edit', {'id': article.id}) }}">редактировать</a>
                                    <a href="{{ path('articles/admin/delete', {'id': article.id}) }}">удалить</a>
                                </small>
                            </h5>
                            <small>Дата публикации: {{ article.published.format('d.m.Y H:i') }}</small>
                        </div>
                        <p class="mb-1">{{ article.category.getFullTitle ?? 'без категории' }}</p>
                        <small>{{ article.author ? '@' ~ article.author }} {{ article.source ? '[' ~ article.source ~ ']' }}</small>
                    </div>
                    {% endfor %}
                </div>


{#                        <li><h4>{{ article.title }} </h4>#}
{#                            <a href="{{ path('article/view', {'slug': article.slug}) }}">link</a>#}
{#                            <a href="{{ path('articles/admin/edit', {'id': article.id}) }}">edit</a>#}
{#                            <a href="{{ path('articles/admin/delete', {'id': article.id}) }}">remove</a>#}
{#                        </li>#}

{#                </ul>#}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}
